.main {
  display: flex;
}
.ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.li-class-black {
  height: 80px;
  width: 50px;
  color: black;
  margin: 4px;
  border: 1px solid black;
  text-align: center;
}
.li-class-red {
  height: 80px;
  width: 50px;
  color: red;
  margin: 4px;
  border: 1px solid black;
  text-align: center;
}
